.input {
	padding: 7px 15px;
	color: var(--black);
	border: none;
	border-radius: 5px;
	outline-color: var(--primary);
	background: var(--white);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	font-size: 16px;
	line-height: 22px;
}

.input::placeholder {
	color: var(--gray);
}

.inputWrapper {
	position: relative;
}

.error {
	border: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	left: 0;
	bottom: -20px;
	color: var(--red);
}
