.product {
	display: grid;
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
		[middle] 1fr [priceStart] auto [priceEnd] 40px [creditStart] auto [creditEnd] 40px [ratingStart] auto [end];
	margin-top: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: priceStart / priceEnd;
	white-space: nowrap;
}

.credit,
.creditTitle {
	grid-column: creditStart / creditEnd;
	white-space: nowrap;
}

.rating,
.ratingTitle {
	grid-column: ratingStart / end;
	white-space: nowrap;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.features {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;
}

.logo img {
	border-radius: 5px;
}

.title {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	align-self: flex-end;
}

.category {
	margin-top: 7px;
}

.price,
.credit {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	align-self: flex-end;
}

.month {
	font-size: 14px;
	line-height: 19px;
}

.oldPrice {
	margin-left: 5px;
}

.rating {
	align-self: flex-end;
}

.description {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.priceTitle,
.creditTitle,
.ratingTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.reviewBtn {
	margin-left: 20px;
}

.advBlock {
	font-size: 16px;
	line-height: 22px;
}

.advTitle {
	font-weight: 700;
	margin-bottom: 5px;
}

.advantages {
	border-left: 2px solid var(--green);
	padding-left: 15px;
	margin-bottom: 20px;
}

.disadvantages {
	border-left: 2px solid var(--red);
	padding-left: 15px;
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
	align-items: baseline;
	padding-right: 60px;
	font-size: 16px;
	line-height: 32px;
}

.characteristicsName {
	font-weight: 700;
}

.characteristicsDots {
	border-bottom: 1px dashed var(--gray-light);
	margin-bottom: 5px;
}

.closed {
	overflow: hidden;
	max-height: 0;
	padding: 0;
}

.opened {
	max-height: auto;
	padding: 30px;
}

@media screen and (max-width: 1320px) {
	.product {
		grid-template-columns:
			70px 30px auto
			40px auto 40px 1fr;
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"price price price . credit . rating"
			"priceTitle priceTitle priceTitle . creditTitle . ratingTitle"
			"hr hr hr hr hr hr hr"
			"description description description description description description description"
			"features features features features features features features"
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			"actions actions actions actions actions actions actions";
	}

	.logo {
		grid-area: logo;
		margin-bottom: 20px;
	}

	.title {
		grid-area: title;
	}

	.tags {
		grid-area: tags;
		margin-bottom: 20px;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.rating {
		grid-area: rating;
	}

	.priceTitle {
		grid-area: priceTitle;
	}

	.creditTitle {
		grid-area: creditTitle;
	}

	.ratingTitle {
		grid-area: ratingTitle;
	}

	.hr {
		grid-area: hr;
	}

	.hr2 {
		grid-area: hr2;
	}

	.description {
		grid-area: description;
	}

	.features {
		grid-area: features;
		margin-bottom: 20px;
	}

	.advBlock {
		grid-area: advBlock;
	}

	.actions {
		grid-area: actions;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
			"logo . title"
			"logo . tags"
			"priceTitle priceTitle price"
			"creditTitle creditTitle credit"
			"ratingTitle ratingTitle rating"
			"hr hr hr"
			"description description description"
			"features features features"
			"advBlock advBlock advBlock"
			"hr2 hr2 hr2"
			"actions actions actions";
	}

	.price,
	.credit,
	.rating {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
			"logo"
			"title"
			"tags"
			"price"
			"priceTitle"
			"credit"
			"creditTitle"
			"rating"
			"ratingTitle"
			"hr"
			"description"
			"features"
			"advBlock"
			"hr2"
			"actions";
	}

	.characteristics {
		padding-right: 0;
	}
}
